{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% comment %} <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Register</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div> {% endcomment %}
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            "key": "rzp_test_1DP5mmOlF5G5ag",
            "amount": "2000", // 2000 paise = INR 20
            "name": "Merchant Name",
            "description": "Purchase Description",
            "image": "/your_logo.png",
            "handler": function (response){
                alert(response.razorpay_payment_id);
            },
            "prefill": {
                "name": "Harshil Mathur",
                "email": "test@gmail.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Hello World"
            },
            "theme": {
                "color": "#F37254"
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
    </script>
    <button id="rzp-button1">Pay</button>

    

{% endblock %}

```
