
{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Order Summary</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Product</th>
                            <th>Created</th>
                            <th>Price</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.order_id }}</td>
                                <td>
                                    
                                    {% for item in order.items %}
                                        {{ item.product_name }} <br>
                                    {% endfor %} 
                                </td>
                                <td>{{ order.created_at }}</td>
                                <td>{{ order.total_price }}</td>
                                <td>
                                    {% if order.payment_status == 'pending' %}
                                        <span class="badge badge-warning">{{ order.payment_status }}</span>
                                    {% elif order.payment_status == 'done' %}
                                        <span class="badge badge-success">{{ order.payment_status }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ order.payment_status }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    {% endblock %}


